$shadow: rgb(214, 205, 205);

.title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.subtitle {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 24px 0 16px 0;
}

.form {
    width: 30%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px $shadow, -1px 1px 10px $shadow,
        1px -1px 10px $shadow, -1px -1px 10px $shadow;
    position: absolute;
    top: 50%;
    min-width: 300px;
    padding: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &_success_left {
        left: 10px;
        transform: translate(0, -50%);
        min-height: 400px;
        justify-content: center;
    }

    &_success_right {
        position: absolute;
        top: 50%;
        right: 10px;
        min-height: 400px;
        transform: translate(0, -50%);
        min-height: 400px;
        justify-content: center;
    }

    &_not_auth {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_with_error {
        right: 10px;
        transform: translate(0, -50%);
        color: red;
        font-size: 18px;
        min-height: 400px;
        justify-content: center;

        & button {
            margin-top: auto;
            margin-bottom: 12px;
        }
    }
}

.create_btn {
    margin-top: 20px;
}

.time {
    &_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
    }

    &_input {
        max-width: 66px;
    }

    &_dotted {
        font-size: 24px;
        font-weight: 700;
    }
}

.error {
    &_message {
        color: #d63e3e;
        margin-bottom: 5px;
        text-align: center;
        list-style: none;
    }

    &_list {
        padding: 0;
        margin: 0;
    }
}

.info_message {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 24px;
}

.login_btn {
    padding: 12px 36px;
    border-radius: 4px;
    background-color: #2e7d32;
    color: white;
    font-weight: 700;
    text-decoration: uppercase;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}

.status_text {
    color: #2e7d32;
    margin: 0;
    margin-top: 15px;
}

.link {
    &_block {
        display: flex;
        flex-flow: column;
        margin-top: 16px;
    }

    &_text {
        font-size: 14px;
    }

    &_link {
        text-align: end;
        font-size: 14px;
        color: #5757f3;
    }
}

.no_timers {
    font-size: 18px;
    text-align: center;
}
