@import '/styles/variables.scss';

.menu {
    list-style: none;
    width: 100%;
    background: $mainColor;
    height: 42px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.menu > li {
    min-width: 135px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
}
.menu a {
    display: block;
    color: $white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.menu li:hover {
    background: $white;

    & button {
        background: $white;
    }

    & a,
    button {
        color: $mainColor;
    }
}

.logout_btn {
    background: $mainColor;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $white;
}
