@import '/styles/variables.scss';

.container {
    width: 30%;
    position: absolute;
    top: 50%;
    min-width: 300px;

    @media screen and (max-width: 767px) {
        position: static;
        margin: auto;
        top: 0;
        width: 95%;
    }

    &_success_left {
        left: 16px;
        transform: translate(0, -50%);
        min-height: 400px;
        justify-content: center;

        @media screen and (max-width: 767px) {
            transform: none;
            margin-top: 30px;
        }
    }

    &_success_right {
        top: 50%;
        right: 16px;
        min-height: 400px;
        transform: translate(0, -50%);
        min-height: 400px;
        justify-content: center;

        @media screen and (max-width: 767px) {
            transform: none;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    &_not_auth {
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 767px) {
            left: 0;
            transform: none;
            margin: 30vh auto 0 auto;
        }
    }
}

.form {
    &_wrapper {
        border-radius: 10px;
        border: 1px solid $mainColor;
        border-top: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        background: $white;
        min-height: 642px;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 42px;
            background: $mainColor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 0;
            margin: 0;
            border-left: 1px solid $mainColor;
            border-right: 1px solid $mainColor;
        }

        &_mini {
            @extend .form_wrapper;
            min-height: 0;
        }
    }

    &_content {
        padding: 24px;

        &_mini {
            padding: 16px;
            display: flex;
            flex-flow: column;
            color: $mainColor;
        }

        @media screen and (max-width: 767px) {
            left: 0;
            padding: 12px;
        }
    }

    &_label {
        position: absolute;
        top: 10px;
        left: 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        margin: 0;
    }
}

.title {
    font-size: 29px;
    line-height: 49px;
    margin: 0;
    color: $mainColor;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $mainColor;

    @media screen and (max-width: 767px) {
        font-size: 12px;
        margin: 12px 0;
    }
}

.create_btn {
    margin-top: 20px;
    background: $mainColor;
    border-radius: 10px;
    width: 100%;

    &:hover {
        background: $mainColor;
        opacity: 0.9;
    }
}

.input {
    &_title {
        & label {
            font-size: 16px;
            line-height: 24px;
            color: $mainColor;
            opacity: 0.4;
        }

        & fieldset {
            border-color: $mainColor;
            border-radius: 10px;
        }

        & input {
            color: $mainColor;
        }
    }

    &_num {
        max-width: 80px;

        & label {
            color: $mainColor;
            opacity: 0.4;
        }

        & fieldset {
            border-color: $mainColor;
            border-radius: 10px;
        }

        & input {
            color: $mainColor;
            font-size: 32px;
            line-height: 49px;
            padding-left: 20px;
        }
    }
}

.time {
    &_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;

        & label {
            z-index: 0;
        }
    }

    &_dotted {
        font-size: 32px;
        font-weight: 700;
        color: $mainColor;
    }
}

.error {
    &_message {
        color: #d63e3e;
        margin-bottom: 5px;
        text-align: center;
        list-style: none;
    }

    &_list {
        padding: 0;
        margin: 0;
    }
}

.info_message {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 24px;
}

.login_btn {
    padding: 12px 36px;
    border-radius: 4px;
    background-color: $mainColor;
    color: white;
    font-weight: 700;
    text-decoration: uppercase;
    border-radius: 10px;
    text-align: center;

    &:hover {
        opacity: 0.9;
    }
}

.status_text {
    color: #2e7d32;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

.link {
    &_block {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 16px;
        margin-top: 102px;
        color: $mainColor;
    }

    &_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    &_link {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 24px;
    }
}

.no_timers {
    margin-top: 26px;

    &_text_wrapper {
        color: $mainColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            white-space: nowrap;
        }
    }
}
