$shadow: rgb(214, 205, 205);

.container {
    width: 30%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px $shadow, -1px 1px 10px $shadow,
        1px -1px 10px $shadow, -1px -1px 10px $shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 310px;
    padding: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.avatar {
    &_text {
        margin-bottom: 24px;
    }

    &_photo {
        width: 94px;
        height: 94px;
        overflow: hidden;
        border-radius: 100%;
        
    }
}

.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.btn {
    margin-top: 25px;
}

.error {
    &_list {
        padding: 0;
        margin: 0;
    }

    &_text {
        color: rgb(172, 41, 41);
        margin-bottom: 5px;
        align-self: flex-start;
        list-style-type: none;
    }
}

.status_text {
    color: #2e7d32;
    margin: 0;
    margin-top: 15px;
}
