@import '/styles/variables.scss';

.single {
    &_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        &_error {
            width: 310px;
            padding: 20px;
            border-radius: 8px;
        }

        &_timer {
            width: 340px;
        }
    }

    &_error_text {
        text-align: center;
        letter-spacing: 0.7px;
    }
}
