$shadow: rgb(214, 205, 205);

.container {
    width: 30%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px $shadow, -1px 1px 10px $shadow,
        1px -1px 10px $shadow, -1px -1px 10px $shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 310px;
    padding: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding: 6px 14px;
    }
}

.title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;

    @media screen and (max-width: 767px) {
        font-size: 16px;
        margin: 10px 0;
    }
}

.login_btn {
    margin-top: 20px;

    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }
}

.error {
    &_list {
        padding: 0;
        margin: 0;
    }

    &_text {
        color: rgb(172, 41, 41);
        margin-bottom: 5px;
        align-self: flex-start;
    }
}

.status_text {
    color: #2e7d32;
    margin: 0;
    margin-top: 15px;
}

.link_reg {
    align-self: flex-end;
    margin: 5px 0;
    font-size: 12px;
    color: rgb(87, 87, 243);

    &:hover {
        opacity: 0.9;
    }
}
