$shadow: rgb(214, 205, 205);
$blue: #34495e;
$light_blue: #628ab2;

.container {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.subtitle {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 24px 0 16px 0;
}

.time {
    &_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
    }

    &_input {
        max-width: 66px;
    }

    &_dotted {
        font-size: 24px;
        font-weight: 700;
    }
}

.error {
    &_message {
        color: #d63e3e;
        margin-bottom: 5px;
        text-align: center;
        list-style: none;
    }

    &_list {
        padding: 0;
        margin: 0;
    }
}

.status_text {
    color: #2e7d32;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

.info_message {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 24px;
}

.change_btn {
    margin-top: 20px;
}

.back_btn {
    margin-top: 8px;
}

.edit_form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.timer {
    &_title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }

    &_label {
        align-self: flex-start;
        font-size: 16px;
        margin: 0;
        text-align: center;
        background-color: $blue;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 4px 8px;
        color: white;
        user-select: none;
    }

    &_time_container {
        border: 1px solid $blue;
        padding: 12px 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        justify-content: space-evenly;
    }

    &_time_count {
        font-size: 18px;
        font-weight: 700;
        user-select: none;
    }

    &_control {
        &_panel {
            width: 100%;
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
        }

        &_btn {
            width: 24%;
            background: $light_blue;
            height: 36px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                opacity: 1;
            }

            &:disabled {
                background-color: gray;
                opacity: 0.4;
                cursor: not-allowed;
            }
        }
    }
}
